body{
font-family:"Georgia";
}
img{ float: left; margin-left: 100px; margin-right: 50px;
}
ul{
margin:100px;
margin-top:5px;
margin-bottom:10px;
}
h1{ font-family: "Garamond"; font-size: 80px;
font-weight: strong;
color: #80293E;
text-align: right;
margin-right:100px;
 margin-top:20px;
}
h2{  color:#DDC590;
font-size: 50px;
font-weight: strong;
margin-top:50px;
margin-left:100px;
}
h3{margin-top:50px;
margin-left:100px;
}
p{margin:100px;
margin-top:15px;
margin-bottom:50px;
}
h3.ed{
color:#80293E ;
}
p.chunk{
margin:100px;
margin-top:15px;
margin-bottom:50px;
color: white;
line-height:30px;
font-size: 20px;
}
li.skill{ color: white; width:33.333333%; float:left;}

em{ color:#DDC590;}
footer{
border-spacing:10px;
 background-color:#DDC590;}
 h4{
	 margin-left:100px;
	 margin-right:100px;
 }
